#set($layout = "/templates/governance/layout/default.vm")
#if(! $addresses || $addresses.size() == 0)
<font color="red">#springMessage("not.found")</font> (<a href="addresses?keyword=*">#springMessage("show.all") </a>)
#elseif($keyword && $addresses.size() == 1)
<script type="text/javascript">
        #if($providerAddresses.contains($addresses.iterator().next()))
        window.location.href = "addresses/$addresses.iterator().next()/providers";
        #else
        window.location.href = "addresses/$addresses.iterator().next()/consumers";
        #end
</script>
#else
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
    <tr>
        <th>#springMessage("address"):
            <input type="text" onkeyup="searchTable('table_o', 0, this.value);"
                   onclick="searchTable('table_o', 0, this.value);"/>&nbsp;<img
                    src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/>
        </th>
        <th width="100">#springMessage("role"): <select onchange="searchTable('table_o', 1, this.value);"
                                                   onclick="searchTable('table_o', 1, this.value);">
            <option value="">#springMessage("all")</option>
            <option value="#springMessage("provider")">#springMessage("provider")</option>
            <option value="#springMessage("consumer")">#springMessage("consumer")</option>
        </select></th>
    </tr>
    #foreach($address in $addresses)
        <tr>
            <td>
                #if($providerAddresses.contains($address))
                    <a href="addresses/$address/providers">$address</a>
                #else
                    <a href="addresses/$address/consumers">$address</a>
                #end
            </td>
            <td>
                #if($providerAddresses.contains($address))
                    <font color="green">#springMessage("provider")</font>
                #end
                #if($consumerAddresses.contains($address))
                    <font color="blue">#springMessage("consumer")</font>
                #end
            </td>
        </tr>
    #end
</table>
<div class="page">#springMessage("page.total")$addresses.size()#springMessage("page.records") </div>
#end