#set($layout = "/templates/sysinfo/layout/default.vm")
<div class="ico_btn">
</div>
<br/>
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
    <tr>
        <th>#springMessage("property.name"): <input type="text" onkeyup="searchTable('table_o', 0, this.value);"
                                               onclick="searchTable('table_o', 0, this.value);"/>&nbsp;<img
                src="$rootContextPath.getURI("images/ico_search.png")" width="12" height="12"/></th>
        <th>#springMessage("property.count")</th>
    </tr>
    <tr>
        <td>
            #springMessage("NoProvider")
        </td>
        <td>
            <a herf="#" onclick="window.open('$rootContextPath.getURI("/sysinfo/dump/noProviders")')">#springMessage(
                "property.count")
                ($noProviderServices.size())</a>
        </td>
    </tr>
    <tr>
        <td>
            #springMessage("services")
        </td>
        <td>
            <a herf="#" onclick="window.open('$rootContextPath.getURI("/sysinfo/dump/services")')">#springMessage(
                "property.count")
                ($services.size())</a>
        </td>
    </tr>
    <tr>
        <td>
            #springMessage("providers")
        </td>
        <td>
            <a herf="#" onclick="window.open('$rootContextPath.getURI("/sysinfo/dump/providers")')">#springMessage(
                "property.count")
                ($providers.size())</a>
        </td>
    </tr>
    <tr>
        <td>
            #springMessage("consumers")
        </td>
        <td>
            <a herf="#" onclick="window.open('$rootContextPath.getURI("/sysinfo/dump/consumers")')">#springMessage(
                "property.count")
                ($consumers.size())</a>
        </td>
    </tr>
    <tr>
        <td>
            #springMessage("versions")
        </td>
        <td>
            #set ($client=$providers.size()+$consumers.size())
            <a herf="#" onclick="window.open('$rootContextPath.getURI("/sysinfo/dump/versions")')">#springMessage(
                "property.count")($client)</a>
        </td>
    </tr>
</table>